<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>694578295019-ipb9q90qadn029kdmgfuicqcrted0o5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694578295019-ipb9q90qadn029kdmgfuicqcrted0o5f</string>
	<key>API_KEY</key>
	<string>AIzaSyA9MuHUmH0j4Z4TSYYvHSw_LNAcjmIknoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>694578295019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.richardpoutier.gta2</string>
	<key>PROJECT_ID</key>
	<string>gametheoryapp-a1d37</string>
	<key>STORAGE_BUCKET</key>
	<string>gametheoryapp-a1d37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:694578295019:ios:7d42485be8733b01</string>
	<key>DATABASE_URL</key>
	<string>https://gametheoryapp-a1d37.firebaseio.com</string>
</dict>
</plist>